* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-block: 100px;
}

#gameboard {
  outline: 2px black solid;
}

#controls {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 5px;
  outline: 1px black solid;
}

/* make sure game-status is centered */
#flag-count {
  width: calc(50% - 20px);
  font-size: 20px;
}

#game-status {
  width: 40px;
  height: 40px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px black solid;
  background-color: #ddd;
  box-shadow: inset 3px 3px #eee, inset -3px -3px #aaa;
  cursor: pointer;
}

#difficulty {
  margin-left: auto;
  font-size: 15px;
}

#minefield {
  display: grid;
  grid: repeat(10, 30px) / repeat(10, 30px);
  background: #ddd;
}

.cell {
  outline: 1px white solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  background: #ccc;
  box-shadow: inset 3px 3px #eee, inset -3px -3px #aaa;
  cursor: default;
}

.cell[data-status="revealed"] {
  background: transparent;
  box-shadow: none;
}

.cell[data-status="revealed"][data-surrounding-mine-count="x"] {
  background-color: red;
}
.cell[data-status="revealed"][data-surrounding-mine-count="1"] {
  color: green;
}
.cell[data-status="revealed"][data-surrounding-mine-count="2"] {
  color: blue;
}
.cell[data-status="revealed"][data-surrounding-mine-count="3"] {
  color: red;
}
.cell[data-status="revealed"][data-surrounding-mine-count="4"] {
  color: purple;
}
.cell[data-status="revealed"][data-surrounding-mine-count="5"] {
  color: darkblue;
}
.cell[data-status="revealed"][data-surrounding-mine-count="6"] {
  color: darkorange;
}
.cell[data-status="revealed"][data-surrounding-mine-count="7"] {
  color: darkgreen;
}
.cell[data-status="revealed"][data-surrounding-mine-count="8"] {
  color: black;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 20px 50px;
  font-size: 25px;
  border: none;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}
