@use "config" as c;
@use "nav";
@use "break-point" as *;

.contact-container {
  width: 100%;
  padding: 2.5em 1em;
  display: flex;
  gap: 30px;
  align-items: center;
  .map-item {
    flex: 1;
    #gmap_canvas {
      overflow: hidden;
      background: none !important;
      height: 500px;
      width: 100%;
    }
  }
  .details-item {
    flex: 1;
  }
  @include mq(tablet) {
    padding: 2.5em 0;
    flex-direction: column;
    align-items: stretch;
  }
}
