* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  box-sizing: border-box;
}

main {
  width: 100%;
  background-image: url("../img/chinesefood1.jpg");
  background-size: 100vw auto;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}
@media (max-aspect-ratio: 3/2) {
  main {
    background-size: auto 100vh;
  }
}
main::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: -1;
}

.container {
  max-width: 1200px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 50px 3rem;
}
@media (max-width: 769px) {
  .container {
    padding: 50px 1.5rem;
  }
}

.primary-title {
  font-size: 3em;
  font-weight: 600;
}
@media (max-width: 426px) {
  .primary-title {
    font-size: 2em;
  }
}

.primary-banner {
  font-size: 1.5em;
}
@media (max-width: 426px) {
  .primary-banner {
    font-size: 1.2em;
  }
}

.secondary-title {
  font-size: 2em;
  font-weight: 600;
}
@media (max-width: 426px) {
  .secondary-title {
    font-size: 1.2em;
  }
}

.secondary-banner {
  font-size: 1.2em;
}
@media (max-width: 426px) {
  .secondary-banner {
    font-size: 1em;
  }
}

.hightlight-txt {
  color: #eece1a;
}

nav {
  position: absolute;
  z-index: 2;
  top: 15px;
  right: 25px;
  font-size: 1.2rem;
}
nav .nav-links {
  display: flex;
  gap: 10px;
}
nav .nav-links li {
  position: relative;
}
nav .nav-links a {
  padding: 0.2em 0.5em;
}
nav .nav-links .edited {
  animation: orderEdited 1s linear;
}
nav .nav-links .current-page::after, nav .nav-links .cart-number::after {
  content: "";
  position: absolute;
  inset: auto 0 -2px 0;
  height: 2px;
}
nav .nav-links .cart-number::after {
  background-color: #fff;
}
nav .nav-links .current-page::after {
  background-color: #eece1a;
}
@media (max-width: 426px) {
  nav {
    top: 10px;
    right: 15px;
    font-size: 1rem;
  }
  nav .nav-links {
    gap: 5px;
  }
  nav a {
    padding: 0.2em;
  }
}

@keyframes orderEdited {
  50% {
    color: #eece1a;
    transform: scale(1.2);
  }
  100% {
    color: #fff;
    transform: scale(1);
  }
}
main .container {
  width: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
main .container .social-links {
  display: flex;
  gap: 15px;
  font-size: 2em;
}
main .container .social-links > * {
  cursor: pointer;
}
main .container .social-links > *:hover {
  color: #eece1a;
}
@media (max-width: 426px) {
  main .container .social-links {
    gap: 7px;
    font-size: 1.2em;
  }
}
