* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --primary-font: "Lato", sans-serif;
  --title-font: "Oswald", sans-serif;
  --theme-color: #414f6b;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* Utilities */

.container {
  width: 80%;
  margin: 0.6rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  width: 100%;
  height: 100vh;
  /* avoid margin collapse on container div */
  display: flow-root;
}

.large {
  font-size: 8rem;
  font-family: var(--title-font);
  color: #6a7b96;
  line-height: 8rem;
}

.follow {
  font-family: var(--title-font);
  font-size: 3rem;
  color: var(--theme-color);
  position: relative;
  top: -2rem;
  left: -2rem;
}

@media screen and (max-width: 1200px) {
  .large {
    font-size: 6rem;
    line-height: 6rem;
  }
  .follow {
    font-size: 2.5rem;
    top: -1.5rem;
    left: -1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .large {
    font-size: 4rem;
    line-height: 4rem;
  }
  .follow {
    font-size: 1.5rem;
    top: -1rem;
    left: -1rem;
  }
}

/* nav */

#nav-bar {
  position: fixed;
  left: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 1;
}

#logo-name {
  margin-left: 0.8rem;
  opacity: 0;
  position: absolute;
  bottom: 100%;
  transition: all 0.5s;
}

.nav-link {
  border-bottom: white 1px solid;
  color: white;
  font-weight: bolder;
  margin-inline: 1.2rem;
  transition: all 0.5s;
  font-family: var(--primary-font);
}

@media screen and (max-width: 800px) {
  #nav-logo img {
    transform: scale(0.8);
  }
  .nav-link {
    font-size: 0.9rem;
  }
  #logo-name {
    margin-left: 0.3rem;
  }
}

@media screen and (max-width: 450px) {
  #logo-name {
    display: none;
  }
}

/* hero */

#hero {
  background-image: url(./img/hero.png);
  background-size: cover;
  background-position-x: 30%;
}

@media screen and (max-width: 750px) {
  #hero {
    background-position-x: 40%;
  }
}

/* history */

#history {
  background-image: url(./img/bg1.png);
  background-position-x: 30%;
  background-position-y: 30%;
  background-size: cover;
  position: relative;
}

#history .container {
  margin: 2rem auto;
  flex-direction: column;
  align-items: start;
}

#history .section-text {
  padding: 0 5rem;
  color: black;
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 1rem;
}

#carousel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(65, 79, 107, 0.9);
}

#slides {
  width: 60%;
  margin: auto;
  overflow: scroll;
  scrollbar-width: none;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  justify-items: center;
}

#slides::-webkit-scrollbar {
  width: 0px;
}

.slide {
  width: 95%;
  cursor: pointer;
}

.currentSlide {
  border: 1px black solid;
  box-shadow: 0 0 5px 2px white;
}

#dots {
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  margin-inline: 0.25rem;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  opacity: 0.5;
}

.currentDot {
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  #history .section-text {
    padding: 0 3rem;
  }
  #slides {
    grid-auto-columns: 33.3333%;
  }
}

@media screen and (max-width: 960px) {
  #slides {
    width: 80%;
    /* grid-auto-columns: 50%; */
  }
}

@media screen and (max-width: 800px) {
  #history .section-text {
    padding: 0 1.5rem;
    font-size: 0.9rem;
  }
}

/* team */

#team {
  background-image: url(./img/bg2.png);
  background-image: url(./img/bg3.png);
  background-position-x: 30%;
  background-position-y: 30%;
  background-size: cover;
  position: relative;
}

#team-banner {
  background-color: white;
  display: flow-root;
}

#team-banner .container {
  justify-content: space-around;
}

#team-banner .section-text {
  width: 50%;
  color: black;
  font-family: var(--primary-font);
  font-weight: bold;
}

#mountain-links {
  background-color: var(--theme-color);
}

#mountain-links .container {
  width: 70%;
  margin: auto;
}

.mountain-link {
  font-size: 1.2rem;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: underline;
  list-style: none;
  font-family: var(--title-font);
  background-color: var(--theme-color);
  color: #b0b4be;
  cursor: pointer;
}

.curMountain {
  background-color: #b0b4be;
  color: var(--theme-color);
}

.schedule {
  position: absolute;
  width: max(300px, 20%);
  left: 20%;
  top: 35%;
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.schedule > span {
  color: var(--theme-color);
  font-size: 2rem;
  font-family: var(--title-font);
}

.month-group {
  width: 100%;
  margin-bottom: 20px;
}

.month {
  font-family: var(--primary-font);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

#schedule-2 {
  display: none;
}

@media screen and (max-width: 1200px) {
  .schedule {
    left: 15%;
    padding: 15px 25px;
  }
}

@media screen and (max-width: 800px) {
  #team-banner .section-text {
    font-size: 0.9rem;
  }
  #mountain-links .container {
    width: 100%;
  }
  #mountain-links .container ul {
    width: 100%;
    display: flex;
  }
  #mountain-links .container .mountain-link {
    flex: 1;
    text-align: center;
    font-size: 1rem;
  }
  .schedule {
    width: max(250px, 20%);
  }
  .schedule > span {
    font-size: 1.5rem;
  }
  .month {
    font-size: 0.9rem;
  }
}

/* footer */

footer {
  font-family: var(--primary-font);
  background-color: var(--theme-color);
  color: #61739a;
  display: flow-root;
}
@media screen and (max-width: 800px) {
  footer img {
    transform: scale(0.8);
  }
  #copyright-info {
    font-size: 0.9rem;
  }
}

/* @media screen and (max-width: 450px) {
  #logo-name {
    display: none;
  }
} */
